$primary: #05668d;
$blue: #05668d;
$secondary: #F9C307;
$bs-yellow: #F9C307;
$pink: #FF0054;
$black: #0e0e0e;
$white: rgb(250, 250, 250);
$bs-light-rgb: rgb(250, 250, 250);

$font-size-lg: 1.5rem;
$font-family-sans-serif:  Roboto, system-ui, -apple-system, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, ;
$headings-font-family:  "Amatic SC", "Roboto", "Segoe UI", system-ui, -apple-system, sans-serif;
$h1-font-size: calc(1.8rem + 1.8vw);
$h2-font-size: calc(1.725rem + 1.2vw);
$h3-font-size: calc(1.6rem + 0.9vw);
$h4-font-size: calc(1.4rem + 0.6vw);

$colors: (
        "blue"
        :
        $blue,
        "pink"
        :

        $pink
);
$btn-border-radius: 1.5em;
//$btn-font-weight: 500;
$hr-color: $pink;


// Navbar styling
$nav-link-hover-color: $pink;
$navbar-light-hover-color: $pink;
$navbar-light-active-color: $blue;
$navbar-light-color: $black;
$navbar-brand-font-size: $font-size-lg;
$nav-link-font-weight: 500;
$nav-link-font-size: 1.2rem;

//$modal-footer-border-color: #191919;
$headings-margin-top: 3rem;
$hr-height: 2px;
$hr-opacity: 0.5;
$hr-margin-y: 1.5rem;

// import bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';

// Amatic SC regular
@font-face {
  font-family: "Amatic SC";
  src: url("../fonts/Amatic_SC/AmaticSC-Regular.eot");
  src: url("../fonts/Amatic_SC/AmaticSC-Regular.eot") format('embedded-opentype'),
  url("../fonts/Amatic_SC/AmaticSC-Regular.woff2") format('woff2'),
  url("../fonts/Amatic_SC/AmaticSC-Regular.woff") format('woff'),
  url("../fonts/Amatic_SC/AmaticSC-Regular.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}

// Amatic SC bold
@font-face {
  font-family: "Amatic SC";
  src: url("../fonts/Amatic_SC/AmaticSC-Bold.eot");
  src: url("../fonts/Amatic_SC/AmaticSC-Bold.eot") format('embedded-opentype'),
  url("../fonts/Amatic_SC/AmaticSC-Bold.woff2") format('woff2'),
  url("../fonts/Amatic_SC/AmaticSC-Bold.woff") format('woff'),
  url("../fonts/Amatic_SC/AmaticSC-Bold.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}

main {
  margin-top: 2em;
  margin-bottom: 2em;
}

nav {
  border-bottom: 3px solid $pink;
}

.navbar-nav .nav-link.active {
  border-bottom: 2px solid $blue;
  margin-bottom: -2px;
}

.navbar-nav .nav-link:hover {
  border-bottom: 2px solid $pink;
  margin-bottom: -2px;
}

.navbar {
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}

.nav-link {
  padding: 0.2rem 4rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.fa-download {
  font-size: 1.5rem;
  cursor: pointer;
}

.fa-angle-double-up {
  font-size: 2rem;
}

footer {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  color: white;
  background-color: #191919;
}

.to-top {
  cursor: pointer;
}

/*.btn.btn-secondary{
        font-weight: bolder;
}*/

.btn.btn-secondary:hover, .btn.btn-secondary:focus {
  background-color: $white;
  outline: 2px solid $secondary;
}

h2, .row h2 {
  margin-top: 1.5rem;
}

h3 {
  margin-top: 1.3rem;
}

/*
hr {
  margin-top: 1.5rem;
}*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

h1, h2, h3, h4, h5, h6 {
  //font-family: "Amatic SC", "Roboto", sans-serif;
  color: $blue;
}

.contact > h2{
  margin-top: 0.5rem;
}

h5 {
  margin-top: 1rem;
}